@{
	ViewData["Title"] = "Transaction Successful";
}

<div class="text-center">
	<h1 class="display-4 text-secondary fw-bold text-dark py-3">
		Transaction was
		<span class="text-success">Successful</span>!
	</h1>
	<hr />
	<br />

	<img src="~/gifs/success.gif" class="website-gif rounded" alt="Successful gif" />
</div>