@{
	ViewData["Title"] = "Find us";
}

<div class="text-center">
	<div>
		<h1 class="display-4 text-secondary fw-bold text-dark pt-3">
			@ViewData["Title"]
		</h1>
		<b class="text-info">We operate from monday to friday!</b>
		<hr />
		<br />
	</div>

	<div class="container">
		<h3 class="fw-bold mb-5 bg-dark rounded py-3 text-white">
			You can find us at Burgas Center!
		</h3>

		<div class="z-depth-1-half map-container" style="height: 800px">
			<iframe class="embed-responsive-item w-100 h-100"
					allowfullscreen
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11767.121007399606!2d27.474121!3d42.4962242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a694c0646bdf93%3A0xb40e5b60c6d2b0a6!2z0JHRg9GA0LPQsNGBINCm0LXQvdGC0YrRgCwg0JHRg9GA0LPQsNGB!5e0!3m2!1sbg!2sbg!4v1685987525972!5m2!1sbg!2sbg"></iframe>
		</div>
	</div>
</div>