@model List<Rating>
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4 text-secondary fw-bold text-dark py-3">
		Welcome to
		<span class="text-info">New Revolutionary Bank</span>!
	</h1>
	<p class="text-secondary fw-bold py-1">
		We hope you are having a great @DateTime.Now.DayOfWeek!
		<i class="fa fa-smile-o"></i>
	</p>
	<hr />
	<br />
</div>

<!-- Carousel -->
<div id="nrbCarousel" class="carousel slide mb-5">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="~/carousel/img1.jpg" class="d-block w-100">
		</div>
		<div class="carousel-item">
			<img src="~/carousel/img2.jpg" class="d-block w-100">
		</div>
		<div class="carousel-item">
			<img src="~/carousel/img3.jpg" class="d-block w-100">
		</div>
		<div class="carousel-item">
			<img src="~/carousel/img4.jpg" class="d-block w-100">
		</div>
		<div class="carousel-item">
			<img src="~/carousel/img5.jpg" class="d-block w-100">
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#nrbCarousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#nrbCarousel" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

<section class="border border-2 my-3 p-3 bg-dark text-white">
	<div class="row d-flex justify-content-center">
		<div class="col-md-10 col-xl-8 text-center">
			<p class="mb-4 text-white fw-bold fs-2">Recent client reviews</p>
		</div>
	</div>

	<div class="row text-center">
		@if (Model.Count == 0)
		{
			<p class="fs-5">No ratings.</p>
		}
		else
		{
			<div class="col-md-4 mb-0">
				@foreach (var rating in Model)
				{
					<div class="d-flex justify-content-center mb-4">
						<img src="~/images/default-user-avatar.png"
							 class="rounded-circle shadow-1-strong" width="150" height="150" />
					</div>

					<h5 class="mb-3 text-info">@rating.RatedBy.UserName</h5>

					<div class="list-unstyled d-flex justify-content-center mb-0">
						@for (int i = 1; i <= rating.RateValue; i++)
						{
							<i class="fa fa-star fa-sm text-warning mx-1"></i>
						}
					</div>
				}
			</div>
		}
	</div>

	<div class="mt-5 d-flex justify-content-center">
		<a class="btn btn-outline-light w-25 fw-bold"
		   asp-controller="Rating"
		   asp-action="RateUs">
			RATE US
		</a>
	</div>
</section>
