@{
	ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
	<h1 class="display-4 text-secondary fw-bold text-dark pt-3">
		@ViewData["Title"]
	</h1>
	<b class="text-info">Last updated: 30th of July, 2023!</b>
	<hr />
	<br />

	<div class="container">
		<div class="mb-5">
			<h2 class="text-secondary text-uppercase">
				Welcome to New Revolutionary Bank's Privacy Policy. We take your privacy seriously and are committed to protecting your personal information.
			</h2>
		</div>

		<div class="mb-5">
			<h2 class="fw-bold">Information We Collect</h2>

			<p>
				We may collect various types of information when you visit and use our website, including but not limited to: your names, email address, and other contact information when you fill out forms or register for an account.
				We also collect information related to any financial transactions you conduct through our services.
			</p>
		</div>

		<div class="mb-5">
			<h2 class="fw-bold">How We Use Your Information</h2>

			<p>
				The information we collect is used for the following purposes: to provide and improve our services, products, and customer support, to communicate with you regarding your account, updates, and promotional offers, to analyze and enhance the effectiveness of our website and marketing efforts, to comply with legal and regulatory requirements.
			</p>
		</div>

		<div class="mb-5">
			<h2 class="fw-bold">Information Sharing</h2>

			<p class="fw-bold text-danger">
				We will never share your personal information with third-parties!
			</p>
		</div>

		<div class="mb-5">
			<h2 class="fw-bold">Cookies and Tracking Technologies</h2>

			<p>
				We use cookies and similar tracking technologies to analyze website usage and customize content. By using our website, you consent to the use of cookies.
			</p>
		</div>

		<div class="mb-5">
			<h2 class="fw-bold">Data Security</h2>

			<p class="fw-bold text-success">
				We implement reasonable security measures to protect your personal information from unauthorized access and disclosure!
			</p>
		</div>

		<div class="mb-5">
			<h2 class="fw-bold">Changes to this Privacy Policy</h2>

			<p>
				We may update this Privacy Policy from time to time. The updated version will be posted on this page with the effective date of the revision. We encourage you to review this policy periodically to stay informed about how we are protecting your information. Either way we will inform you via email so you keep informed with our latest changes!
			</p>
		</div>

		<div class="mb-5">
			<h2 class="fw-bold">Contact Us</h2>

			<p>
				If you have any questions or concerns about our Privacy Policy, please dont mind
				<a class="fw-bold"
					asp-controller="Home"
					asp-action="Support">
					sending us a message
				</a>!.
			</p>
		</div>
	</div>
</div>
