@{
	ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
	<h1 class="display-4 text-secondary fw-bold text-dark pt-3">
		@ViewData["Title"]
	</h1>
	<b class="text-info">Last updated: June 29, 2023!</b>
	<hr />
	<br />

	<div class="container">
		<div class="fs-5">
			<p class="fs-2">Definitions</p>

			<p><strong>Account</strong> means a unique account created for You to access our Service or parts of our Service.</p>

			<p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to New Revolutionary Bank.</p>

			<p><strong>Country</strong> refers to:  Bulgaria</p>

			<p><strong>Device</strong> means any device that can access the Service such as a computer, a cellphone or a digital tablet.</p>

			<p><strong>Personal Data</strong> is any information that relates to an identified or identifiable individual.</p>

			<p><strong>Service</strong> refers to the Website.</p>

			<p><strong>Website</strong> refers to New Revolutionary Bank, accessible from <a href="https://www.newrevolutionarybank.com" rel="external nofollow noopener" target="_blank">https://www.newrevolutionarybank.com</a></p>

			<p><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
		</div>
	</div>
</div>
