@{
	ViewData["Title"] = "Bank Account Tiers";
}

<div class="text-center">
	<div>
		<h1 class="display-4 text-dark fw-bold py-3">@ViewData["Title"]</h1>
		<hr />
		<br />
	</div>

	<div class="container d-flex flex-row text-uppercase justify-content-around flex-wrap">
		<div class="border border-secondary d-flex flex-column align-items-center p-3 m-1 bg-white rounded"
			 style="width: 350px;">
			<p class="fs-4 fw-bold text-secondary">Standard</p>
			<p class="text-dark">For basic daily banking</p>

			<img src="~/images/Standard-card.png"
				 class="img-fluid mb-4"
				 width="256"
				 height="128" />

			<p class="fs-4 text-success fw-bold">0.79 BGN</p>
			<p class="text-secondary">Monthly</p>
		</div>

		<div class="border border-secondary d-flex flex-column align-items-center p-3 m-1 bg-white rounded"
			 style="width: 350px;">
			<p class="fs-4 fw-bold text-secondary">Premium</p>
			<p class="text-dark">All you need for daily banking</p>

			<img src="~/images/Premium-card.png"
				 class="img-fluid mb-4"
				 width="256"
				 height="128" />

			<p class="fs-4 text-success fw-bold">4,69 BGN</p>
			<p class="text-secondary">Monthly</p>
		</div>

		<div class="border border-secondary d-flex flex-column align-items-center p-3 m-1 bg-white rounded"
			 style="width: 350px;">
			<p class="fs-4 fw-bold text-secondary">VIP</p>
			<p class="text-dark">Account for wealthy customers</p>

			<img src="~/images/VIP-card.png"
				 class="img-fluid mb-4"
				 width="256"
				 height="128" />

			<p class="fs-4 text-success fw-bold">12,49 BGN</p>
			<p class="text-secondary">Monthly</p>
		</div>
	</div>
</div>