@{
	ViewData["Title"] = "Bank Account Tiers";
}

<div class="text-center">
	<div>
		<h1 class="display-4 text-dark fw-bold py-3">@ViewData["Title"]</h1>
		<hr />
		<br />
	</div>

	<div>
		
	</div>
</div>