@model DepositViewModel
@{
	ViewData["Title"] = "Deposit";
}

<div class="text-center">
	<h1 class="display-4 text-dark fw-bold py-3">@ViewData["Title"]</h1>
	<hr />
	<br />

	<form method="post">
		<div class="d-flex flex-column align-items-center justify-content-center">
			<div asp-validation-summary="ModelOnly"
				 class="text-danger fw-bold"
				 role="alert"></div>
		</div>

		<input asp-for="MyAccounts" hidden />

		<div class="text-center">
			<div class="form-group mb-3">
				<label asp-for="Amount"
					   class="fw-bold fs-5 d-block">Amount</label>
				<p class="align-self-center text-danger">Use . for decimal separator.</p>
				<input asp-for="Amount"
					   type="number"
					   value="10"
					   class="form-control"
					   aria-required="true"
					   step=".01"
					   min="10.00"
					   max="10000.00"
					   placeholder="Transaction Amount" />
				<span asp-validation-for="Amount" class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label asp-for="DepositTo" class="fw-bold fs-5">Sender account</label>
				<select asp-for="DepositTo" class="form-control" aria-required="true">
					@foreach (var account in Model.MyAccounts)
					{
						<option value="@account.Id">
							@account.IBAN - @account.Balance
						</option>
					}
				</select>
				<span asp-validation-for="DepositTo" class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label asp-for="StripePayment.CardNumber"
					   class="fw-bold fs-5">Card Number</label>
				<input asp-for="StripePayment.CardNumber"
					   class="form-control"
					   aria-required="true" />
				<span asp-validation-for="StripePayment.CardNumber"
				class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label asp-for="StripePayment.ExpYear"
					   class="fw-bold fs-5">Expiration Year</label>
				<input asp-for="StripePayment.ExpYear"
					   class="form-control"
					   aria-required="true" />
				<span asp-validation-for="StripePayment.ExpYear"
				class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label asp-for="StripePayment.ExpMonth"
					   class="fw-bold fs-5">Expiration Month</label>
				<input asp-for="StripePayment.ExpMonth"
					   class="form-control"
					   aria-required="true" />
				<span asp-validation-for="StripePayment.ExpMonth"
				class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label asp-for="StripePayment.CVC"
					   class="fw-bold fs-5">CVC</label>
				<input asp-for="StripePayment.CVC"
					   class="form-control"
					   aria-required="true" />
				<span asp-validation-for="StripePayment.CVC"
				class="text-danger"></span>
			</div>

			<button type="submit" class="btn btn-success fw-bold send-btn">Deposit</button>
		</div>
	</form>
</div>