@if (User.Identity?.IsAuthenticated ?? false)
{
	<li class="dropdown">
		<a class="btn btn-close-white dropdown-toggle fw-bold"
		   href="#"
		   role="button"
		   id="dropdownProfile"
		   data-bs-toggle="dropdown"
		   aria-expanded="false">
			<i class="fa fa-light fa-bars"></i> More
		</a>

		<ul class="dropdown-menu dropdown-menu-sm-end bg-dark"
			aria-labelledby="dropdownProfile">
			<li class="py-2">
				<a class="nav-link text-white fw-bold"
				   asp-controller="Profile"
				   asp-action="MyProfile">
					<i class="fa fa-light fa-user"></i> Profile
				</a>
			</li>

			<li class="py-2">
				<a class="nav-link text-white fw-bold"
				   asp-area="Identity"
				   asp-page="/Account/Manage/Index"
				   title="Manage">
					<i class="fa fa-light fa-gear"></i> Settings
				</a>
			</li>

			<li class="py-2">
				<a class="nav-link text-white fw-bold"
				   asp-area="Identity"
				   asp-page="/Account/Logout">
					<i class="fa fa-light fa-arrow-right-from-bracket"></i> Logout
				</a>
			</li>
		</ul>
	</li>
}
else
{
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link text-white fw-bold"
			   asp-area="Identity"
			   asp-page="/Account/Register">Join us!</a>
		</li>
	</ul>
}
