<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand fw-bold fs-4 text-info" asp-controller="Home" asp-action="Index">@(GlobalConstants.WebsiteAbbreviature)</a>

		<button class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link text-white fw-bold"
					   asp-controller="Home"
					   asp-action="Index">
						<i class="fa fa-light fa-house"></i> Home
					</a>
				</li>

				<li class="dropdown">
					<a class="btn btn-close-white dropdown-toggle fw-bold"
					   href="#"
					   role="button"
					   id="dropdownCurrencies"
					   data-bs-toggle="dropdown"
					   aria-expanded="false">
						<i class="fa fa-sharp fa-light fa-coins"></i> Currencies
					</a>

					<ul class="dropdown-menu bg-dark"
						aria-labelledby="dropdownCurrencies">
						<li class="py-2">
							<a class="nav-link text-white fw-bold"
							   asp-controller="ExchangeCurrency"
							   asp-action="All">
								<i class="fa fa-light fa-arrow-right-arrow-left"></i> Currency Exchange Rates
							</a>
						</li>
						<li class="py-2">
							<a class="nav-link text-white fw-bold"
							   asp-controller="ExchangeCurrency"
							   asp-action="CurrencyCalculator">
								<i class="fa fa-light fa-calculator"></i> Currency Calculator
							</a>
						</li>
					</ul>
				</li>
				@if (User.IsInRole("Guest"))
				{
					<li class="nav-item">
						<a class="nav-link text-white fw-bold"
						   asp-controller="BankAccount"
						   asp-action="Create">
							<i class="fa fa-light fa-plus"></i> Create Bank Account
						</a>
					</li>
				}
				@if (User.IsInRole("AccountHolder"))
				{
					<li class="dropdown">
						<a class="btn btn-close-white dropdown-toggle fw-bold"
						   href="#"
						   role="button"
						   id="dropdownBanking"
						   data-bs-toggle="dropdown"
						   aria-expanded="false">
							<i class="fa fa-light fa-building-columns"></i> Banking
						</a>

						<ul class="dropdown-menu bg-dark"
							aria-labelledby="dropdownBanking">
							<li class="py-2">
								<a class="nav-link text-white fw-bold"
								   asp-controller="BankAccount"
								   asp-action="MyAccounts">
									<i class="fa fa-light fa-piggy-bank"></i> My Accounts
								</a>
							</li>
							<li class="py-2">
								<a class="nav-link text-white fw-bold"
								   asp-controller="BankAccount"
								   asp-action="Create">
									<i class="fa fa-light fa-plus"></i> Create Bank Account
								</a>
							</li>
							<li class="py-2">
								<a class="nav-link text-white fw-bold"
								   asp-controller="Transaction"
								   asp-action="NewTransaction">
									<i class="fa fa-light fa-money-bill-transfer"></i> New Transaction
								</a>
							</li>
							<li class="py-2">
								<a class="nav-link text-white fw-bold"
								   asp-controller="BankAccount"
								   asp-action="Deposit">
									<i class="fa fa-sharp fa-light fa-money-bills"></i> Deposit
								</a>
							</li>
						</ul>
					</li>
				}
				@if (User.IsInRole("Administrator"))
				{
					<li class="dropdown">
						<a class="btn btn-close-white dropdown-toggle fw-bold"
						   href="#"
						   role="button"
						   id="dropdownAdmin"
						   data-bs-toggle="dropdown"
						   aria-expanded="false">
							<i class="fa fa-light fa-user-secret"></i> A-Panel
						</a>

						<ul class="dropdown-menu bg-dark"
							aria-labelledby="dropdownAdmin">
							<li class="py-2">
								<a class="nav-link text-white fw-bold"
								   asp-controller="Administrator"
								   asp-action="Statistics">
									<i class="fa fa-light fa-chart-column"></i> Statistics
								</a>
							</li>

							<li class="py-2">
								<a class="nav-link text-white fw-bold"
								   asp-controller="Administrator"
								   asp-action="ManageBankSettings">
									<i class="fa fa-light fa-chart-simple"></i> Manage Bank Settings
								</a>
							</li>

							<li class="py-2">
								<a class="nav-link text-white fw-bold"
								   asp-controller="Administrator"
								   asp-action="ManageUserProfiles">
									<i class="fa fa-sharp fa-light fa-users"></i> Manage User Profiles
								</a>
							</li>

							<li class="py-2">
								<a class="nav-link text-white fw-bold"
								   asp-controller="Administrator"
								   asp-action="ManageBankAccounts">
									<i class="fa fa-sharp fa-light fa-bars-progress"></i> Manage Bank Accounts
								</a>
							</li>

							<li class="py-2">
								<a class="nav-link text-white fw-bold"
								   asp-controller="Administrator"
								   asp-action="TransactionsList">
									<i class="fa fa-light fa-globe"></i> All Transactions
								</a>
							</li>
						</ul>
					</li>
				}
			</ul>

			<partial name="_LoginPartial" />
		</div>
	</div>
</nav>