<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand fw-bold fs-4 text-info" asp-controller="Home" asp-action="Index">@(GlobalConstants.WebsiteAbbreviature)</a>

		<button class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link text-white fw-bold"
					   asp-controller="Home"
					   asp-action="Index">
						Home
					</a>
				</li>

				<li class="dropdown">
					<a class="btn btn-close-white dropdown-toggle fw-bold"
					   href="#"
					   role="button"
					   id="dropdownProfile"
					   data-bs-toggle="dropdown"
					   aria-expanded="false">
						Currencies
					</a>

					<ul class="dropdown-menu dropdown-menu-end bg-dark"
						aria-labelledby="dropdownProfile">
						<li class="py-2">
							<a class="nav-link text-white fw-bold"
							   asp-controller="ExchangeCurrency"
							   asp-action="All">
								Currency Exchange Rates
							</a>
						</li>
						<li class="py-2">
							<a class="nav-link text-white fw-bold"
							   asp-controller="ExchangeCurrency"
							   asp-action="CurrencyCalculator">
								Currency Calculator
							</a>
						</li>
					</ul>
				</li>
				@if (User.IsInRole("Guest"))
				{
					<li class="nav-item">
						<a class="nav-link text-white fw-bold"
						   asp-controller="BankAccount"
						   asp-action="Create">
							Create Bank Account
						</a>
					</li>
				}
				@if (User.IsInRole("AccountHolder"))
				{
					<li class="dropdown">
						<a class="btn btn-close-white dropdown-toggle fw-bold"
						   href="#"
						   role="button"
						   id="dropdownProfile"
						   data-bs-toggle="dropdown"
						   aria-expanded="false">
							Banking
						</a>

						<ul class="dropdown-menu dropdown-menu-end bg-dark"
							aria-labelledby="dropdownProfile">
							<li class="py-2">
								<a class="nav-link text-white fw-bold"
								   asp-controller="BankAccount"
								   asp-action="MyAccounts">
									My Accounts
								</a>
							</li>
							<li class="py-2">
								<a class="nav-link text-white fw-bold"
								   asp-controller="BankAccount"
								   asp-action="Create">
									Create new Bank Account
								</a>
							</li>
							<li class="py-2">
								<a class="nav-link text-white fw-bold"
								   asp-controller="Transaction"
								   asp-action="NewTransaction">
									New Transaction
								</a>
							</li>
							<li class="py-2">
								<a class="nav-link text-white fw-bold"
								   asp-controller="BankAccount"
								   asp-action="Deposit">
									Deposit
								</a>
							</li>
						</ul>
					</li>
				}
				@if (User.IsInRole("Administrator"))
				{
					<li class="dropdown">
						<a class="btn btn-close-white dropdown-toggle fw-bold"
						   href="#"
						   role="button"
						   id="dropdownProfile"
						   data-bs-toggle="dropdown"
						   aria-expanded="false">
							A-Panel
						</a>

						<ul class="dropdown-menu dropdown-menu-end bg-dark"
							aria-labelledby="dropdownProfile">
							<li class="py-2">
								<a class="nav-link text-white fw-bold"
								   asp-controller="Administrator"
								   asp-action="Statistics">
									Statistics
								</a>
							</li>

							<li class="py-2">
								<a class="nav-link text-white fw-bold"
								   asp-controller="Administrator"
								   asp-action="ManageBankSettings">
									Manage Bank Settings
								</a>
							</li>

							<li class="py-2">
								<a class="nav-link text-white fw-bold"
								   asp-controller="Administrator"
								   asp-action="ManageUserProfiles">
									Manage User Profiles
								</a>
							</li>

							<li class="py-2">
								<a class="nav-link text-white fw-bold"
								   asp-controller="Administrator"
								   asp-action="ManageBankAccounts">
									Manage Bank Accounts
								</a>
							</li>

							<li class="py-2">
								<a class="nav-link text-white fw-bold"
								   asp-controller="Administrator"
								   asp-action="TransactionsList">
									All Transactions
								</a>
							</li>
						</ul>
					</li>
				}
			</ul>

			<partial name="_LoginPartial" />
		</div>
	</div>
</nav>