@page
@model AccessDeniedModel
@{
	ViewData["Title"] = "Access denied";
}


<div class="text-center">
	<h1 class="display-5 text-dark fw-bold py-3">@ViewData["Title"]</h1>
	<hr />
	<br />

	<p class="text-danger fw-bold fs-3">
		You do not have access to this resource!
	</p>
</div>
