@page
@model ConfirmEmailModel
@{
	ViewData["Title"] = "Confirm email";
}

<div class="text-center">
	<h1 class="display-5 text-dark fw-bold py-3">@ViewData["Title"]</h1>
	<hr />
	<br />

	<partial name="_StatusMessage" model="Model.StatusMessage" />

	<a class="btn btn-secondary fw-bold w-100 fs-5"
	   asp-area="Identity"
	   asp-page="/Account/Login">
		Login
	</a>
</div>
