@page
@model ConfirmEmailChangeModel
@{
	ViewData["Title"] = "Confirm email change";
}

<div class="text-center">
	<h1 class="display-5 text-dark fw-bold py-3">@ViewData["Title"]</h1>
	<hr />
	<br />

	<partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
