@page
@model LockoutModel
@{
	ViewData["Title"] = "Locked out";
}

<div class="text-center">
	<h1 class="display-5 text-danger fw-bold py-3">@ViewData["Title"]</h1>
	<hr />
	<br />

	<p class="text-danger fw-bold fs-4">
		This account has been locked out! Please try again later.
	</p>
</div>
