@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="text-center">
	<h1 class="display-5 text-dark fw-bold py-3">@ViewData["Title"]</h1>
	<hr />
	<br />

	<p class="fw-bold text-success fs-3">
		Please check your email to confirm your account.
	</p>
</div>