@{
	if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
	{
		Layout = parentLayout.ToString();
	}
	else
	{
		Layout = "/Areas/Identity/Pages/_Layout.cshtml";
	}
}

<div class="text-center">
	<h1 class="display-5 text-dark fw-bold py-3 m-0">Account Settings</h1>
	<hr />
	<br />
</div>

<div>
	<div class="row">
		<div class="col-md-3">
			<partial name="_ManageNav" />
		</div>

		<div class="col-md-9">
			@RenderBody()
		</div>
	</div>
</div>

@section Scripts {
	@RenderSection("Scripts", required: false)
}
