@page
@model AvatarModel
@{
	ViewData["Title"] = "Main Settings";
	ViewData["ActivePage"] = ManageNavPages.Avatar;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row justify-content-center">
	<div class="col-md-6">
		<form method="post" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

			<div class="form-group mb-3">
				<div class="d-flex justify-content-center">
					<label class="form-label fs-4">
						Select Avatar
					</label>
				</div>
				<input class="form-control"
					   name="avatar"
					   type="file"
					   accept=".png, .jpg, .jpeg">
			</div>

			<button type="submit"
					class="w-100 btn btn-lg btn-info text-white fw-bold">
				Save Avatar
			</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}