@page
@model DownloadPersonalDataModel
@{
	ViewData["Title"] = "Download Your Data";
	ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="text-center">
	<h1 class="display-5 text-dark fw-bold py-3">@ViewData["Title"]</h1>
	<hr />
	<br />

	<p class="fw-bold text-success fs-4">
		Your data is already downloading!
	</p>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
