@page
@model PersonalDataModel
@{
	ViewData["Title"] = "Personal Data";
	ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row justify-content-center">
	<div class="col-md-6 rounded p-5 bg-dark text-light">
		<p class="fw-bold fs-5">
			Your account contains personal data that you have given us.
		</p>

		<form id="download-data"
			  asp-page="DownloadPersonalData"
			  method="post">
			<button class="btn btn-info text-light fw-bold w-100 my-3"
					type="submit">
				Download
			</button>
		</form>

		<a id="delete"
		   asp-page="DeletePersonalData"
		   class="btn btn-danger fw-bold w-100">
			Delete
		</a>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
